*.png
*.jpg
*.json
*.csv
*.jpeg
*.pyc
*.txt
*.pkl
*.xml
.DS_Store
*.zip
*.bmp
*.tar.gz
*.ipynb
*.out
*.pt
*.json
*.npy
segmentation.py
mmsegmentation/
downstream_results/
features/
results/
__pycache__
wandb/
