*.png
*.jpg
*.json
*.csv
*.jpeg
*.pyc
*.txt
*.pkl
*.xml
.DS_Store
*.zip
*.bmp
*.tar.gz
*.ipynb
*.out
*.pt
*.json
*.npy
*.jpeg
segmentation.py
mmsegmentation/
downstream_results/
features/
__pycache__
wandb/
.ipynb_checkpoints/
adapters/
detectron2/
ensembleObjectDetection/
diverse_ensemble_baseline/
models_pytorch/
ood_testing/
TestDatasets/
im1k-moco/
results/
results_decoders/
results_fig1/
saved/
*.sh
*.pdf
saved/
branched/.ipynb_checkpoints/
branched/voc_detection
branched/wandb
branched/adapter_resnet.py
branched/*.sh
branched/few_shot_reg.py
branched/main_linear_baseline_ensemble.py
branched/main_linear_decoders.py
branched/main_linear_fig1.py
branched/finetuning.py
branched/presets.py
branched/measure_invariances.py
branched/plot_method.py
branched/plot_teaser.py
branched/sampler.py
branched/temperature_scaling.py
branched/tta.py
branched/visualise_weights.ipynb
branched/*.ipynb
branched/*.npy
branched/*.pth
branched/*.csv
branched/*.json
branched/*.txt
branched/*.pkl
branched/*.xml
branched/*.zip
branched/*.png
branched/*.jpg
branched/*.jpeg
branched/*.pdf
branched/*.pt
branched/voc2007.py
test_models.py